// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/about/about";
@import "../pages/home/home";
@import "../pages/login/login";
@import "../pages/sign-in/sign-in";
@import "../pages/products/products";
@import "../pages/sellers/sellers";
@import "../pages/seller/seller";
@import "../pages/products/products";
@import "../pages/profile/profile";

ion-tabbar {
  .tab-button[aria-selected=true] {
    transform: scale(1.15);
    font-weight: bold;
    color: color($colors, gold)!important;
  }
}
