.product-page {
  ion-slides, ion-slide {
    height: 30rem;
  }

  .swiper-pagination-bullet {
    opacity: .8;
    background: rgba(0, 0, 0, 1) !important;
  }

  .swiper-pagination-bullet-active {
    background: color($colors, gold, base) !important;
  }

  .product-item-text {
    padding-left: 10px;
  }
}
