<ion-header>
  <ion-navbar color="gold">
    <ion-title>Detalhes do Produto</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="product-page">
  <ion-row>
    <ion-col width-80 offset-10>
      <button ion-button color="favorite" full (click)="presentPictureModal()" icon-right *ngIf="sellerPage">
        Gerenciar Imagens
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <div text-center>
    <ion-slides [options]="slideOptions" color="gold" *ngIf="product.images.length > 0">
      <ion-slide *ngFor="let image of product.images">
        <img [src]="trustUrl(image)">
      </ion-slide>
    </ion-slides>
    <img [src]="IMG_URL + 'product.png'" *ngIf="!product.images.length > 0">
  </div>

  <ion-item text-wrap>
    <h2>{{product?.name}}</h2>
  </ion-item>
  <ion-list>
    <ion-item text-wrap>
      {{product?.description}}
    </ion-item>
    <ion-item text-wrap>
      Categoria:
      <b item-right> {{product?.category}} </b>
    </ion-item>
    <ion-item>
      <ion-icon name="cash" color="secondary"></ion-icon>
      <span class="product-item-text"> Preço Unitário </span>
      <b item-right> {{product?.price | currency:'BRL':true:'1.2-2'}} </b>
    </ion-item>
    <ion-item>
      <ion-icon [color]="product.stock_avaible > 0 ? 'warning' : 'danger'" name="logo-buffer"></ion-icon>
      <span class="product-item-text"> Estoque Disponível </span>
      <b item-right> {{product?.stock_avaible}} unidade{{product?.stock_avaible > 1 ? 's' : ''}} </b>
    </ion-item>

    <ion-item-divider *ngIf="checkSeller()">Vendido Por:</ion-item-divider>
    <ion-item *ngIf="checkSeller()">
      <ion-thumbnail item-left>
        <img [src]="product?.seller?.photo ? IMG_URL + product.seller.photo : IMG_URL + 'person.jpeg'">
      </ion-thumbnail>
      <h2> {{product?.seller?.name}} </h2>
      <p>{{product?.seller?.location?.city}} - {{product?.seller?.location?.state}}</p>
      <button ion-button clear item-right (click)="showSeller()" > Ver </button>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col width-80 offset-10>
      <button ion-button color="gold" full (click)="editProduct()" icon-right *ngIf="sellerPage">
        Editar Dados
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-80 offset-10>
      <button ion-button color="danger" full (click)="presentConfirmDelete()" icon-right *ngIf="sellerPage">
        Excluir Produto
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
