.profile-page {
  .user-image-toolbar {
    img {
      text-align: center;
      width: 14rem;
      height: 14rem;
      border-radius: 14rem;
      margin: 4rem;
    }
  }
  .bg-primary {
    background : color($colors, primary, base);

    [ion-card] {
      background: transparent;
    }
  }
}
