<ion-header>

  <ion-navbar color="gold">
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        Cancelar
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="dismiss()">
        Confirmar
      </button>
    </ion-buttons>
    <ion-title>Localização</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="locationForm" novalidate="">

    <ion-list>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select [formControl]="state" (ionChange)="getCities()" multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-option *ngFor="let uf of ufs; trackBy:uf?.uf" [value]="uf">{{uf.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!state.valid && (state.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="state.errors?.required">Este campo é obrigatório</p>
      </div>

      <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select [formControl]="city" multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-option *ngFor="let city of cities; trackBy:city?.id" [value]="city">{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!city.valid && (city.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="city.errors?.required">Este campo é obrigatório</p>
      </div>
    </ion-list>

  </form>

</ion-content>
