<ion-header>
  <ion-navbar color="gold" align-title="center">
    <ion-buttons left>
      <button ion-button (click)="clear()">
        Limpar
      </button>
    </ion-buttons>
    <ion-title>Filtrar</ion-title>
    <ion-buttons right>
      <button ion-button (click)="dismiss()">
        OK
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      Categoria
      <ion-note (click)="presentCategoriesModal()" item-right>
        {{(category ? category : 'Nenhum Selecionado')}}
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-note>
    </ion-item>

    <ion-item>
      Ordenar Por
      <ion-note (click)="presentSortModal()" item-right>
        {{(sort ? sort.name : 'Nenhum Selecionado')}}
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-note>
    </ion-item>

    <ion-item *ngIf="!sellerPage && !seller">
      <ion-label>
        Somente de Vendedores que eu sigo
      </ion-label>
      <ion-toggle [(ngModel)]="onlyFollowedSellers"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>
        Somente Produtos com Estoque
      </ion-label>
      <ion-toggle [(ngModel)]="onlyInStock"></ion-toggle>
    </ion-item>

    <form [formGroup]="locationForm" novalidate="" *ngIf="!sellerPage && !seller">
      <ion-item-divider light>Localização</ion-item-divider>

      <ion-item>
        <ion-label class="black-content">Estado</ion-label>
        <ion-select class="gray-content" [formControl]="state" (ionChange)="clearCity()" multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-option *ngFor="let uf of ufs" [value]="uf">{{uf.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!state.valid">
        <p padding-left color="danger" *ngIf="state.errors?.required">Este campo é obrigatório</p>
      </div>

      <ion-item (click)="presentCitiesModal()">
        <ion-label>Cidade</ion-label>
        <ion-note item-right>
          <!-- <ion-input item-right [formControl]="city" disabled placeholder="Clique para escolher.." type="text"></ion-input> -->
          {{(city.value ? city.value : 'Nenhum Selecionado')}}
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>
      <div *ngIf="!city.valid">
        <p padding-right text-right color="danger" *ngIf="city.errors?.required">Este campo é obrigatório</p>
      </div>

    </form>

  </ion-list>
</ion-content>
