<ion-header>

  <ion-navbar color="gold">
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        Cancelar
      </button>
    </ion-buttons>
    <ion-title>Editar Dados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="login-page">
  <form [formGroup]="editForm" novalidate="">

    <ion-list>
      <ion-item>
        <ion-label>Nome*</ion-label>
        <ion-input [formControl]="name" type="text"></ion-input>
      </ion-item>
      <div *ngIf="!name.valid && (name.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="name.errors?.required">Este campo é obrigatório</p>
        <p padding-left color="danger" *ngIf="name.errors?.minlength">Este campo deve ter pelo menos 8 caracteres</p>
      </div>

      <ion-item ngControlGroup="contact">
        <ion-label>Whatsapp</ion-label>
        <ion-input [formControl]="whatsapp" type="number" pattern="^[1-9]{2}[2-9][0-9]{3,4}[0-9]{4}$"></ion-input>
      </ion-item>
      <div *ngIf="!whatsapp.valid && (whatsapp.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="whatsapp.errors?.pattern">O campo deve ter o formato 99 999999999</p>
      </div>
      <ion-item ngControlGroup="contact">
        <ion-label>Outro Telefone</ion-label>
        <ion-input [formControl]="phone" type="number" pattern="^[1-9]{2}[2-9][0-9]{3,4}[0-9]{4}$"></ion-input>
      </ion-item>
      <div *ngIf="!phone.valid && (phone.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="phone.errors?.pattern">O campo deve ter o formato 99 999999999</p>
      </div>
      <ion-item ngControlGroup="contact">
        <ion-label>Link Facebook</ion-label>
        <ion-input [formControl]="facebook" type="text"></ion-input>
      </ion-item>
      <div *ngIf="!facebook.valid && (facebook.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="facebook.errors?.pattern">Este campo é obrigatório</p>
      </div>

      <ion-item ngControlGroup="location">
        <ion-label>Estado*</ion-label>
        <ion-select [formControl]="state" (ionChange)="getCities()" multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-option *ngFor="let uf of ufs" [value]="uf">{{uf.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!state.valid && (state.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="state.errors?.required">Este campo é obrigatório</p>
      </div>

      <ion-item ngControlGroup="location">
        <ion-label>Cidade*</ion-label>
        <ion-select [formControl]="city" [disabled]="state?.value?.length < 1" multiple="false" cancelText="Cancelar" okText="Selecionar">
          <ion-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="!city.valid && (city.touched || formSubmitted)">
        <p padding-left color="danger" *ngIf="city.errors?.required">Este campo é obrigatório</p>
      </div>
    </ion-list>

    <p>Os campos com * são obrigatórios</p>


    <div padding class="submit-block">
      <button ion-button color="primary" block  (click)="submit()">Salvar</button>
    </div>
  </form>

</ion-content>
